.jumbotron {
  background-color: #141620;
  background-size: cover;
  min-height: 500px;
}
h1, p{
  color:#fff;
  font-family: OpenSymbol;
}
p{
  font-size: 18px;
}
.service .container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.service .container-fluid .row {
  margin-left: 0;
  margin-right: 0; }
.service .advisor, .service .advisory {
  padding: 7rem 4rem 5rem;
  text-align: center;
  background: rgba(239, 239, 239, 0.84);
  -webkit-transition: all .2s ease 0s;
  transition: all .2s ease 0s; }
.service .advisor:hover, .service .advisory:hover {
  background: lightgreen;}
.service h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  min-height: 2.2rem;
  font-weight: 500;
  margin-bottom: 0.3rem;}
.service p {
  margin-bottom: 10px;
  font-size: 16px;
  color: black;
}
.service{
  background-color: aqua;
  background-size: cover;
  margin-top: -32px;
}
.service .hexagon {
  position: relative;
  width: 110px;
  height: 60px;
  background-color: #fff;
  margin: 0 auto 3rem;
  text-align: center;
  color: #f95006;
  -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
  -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
  transition: background .5s ease-in-out, padding .5s ease-in-out; }
.service .hexagon i {
  font-size: 58px; }
.service .hexagon:before, .service .hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 55px solid transparent;
  border-right: 55px solid transparent;
  left: 0; }
.service .hexagon:before {
  bottom: 100%;
  border-bottom: 33px solid #fff; }
.service .hexagon:after {
  top: 100%;
  width: 0;
  border-top: 33px solid #fff; }
.service .advisory .hexagon {
  color: #62a904; }
.service .advisor:hover .hexagon, .service .advisory:hover .hexagon {
  width: 114px;
  height: 110px;
  border-radius: 50%;
  padding: 27px;
  margin-top: -25px;
  margin-bottom: 23px;
  background-color: #f95006; }
.service .advisory:hover .hexagon {
  background-color: #62a904; }
.service .advisor:hover .hexagon:before, .service .advisory:hover .hexagon:after {
  display: none; }
.service .advisor:hover .hexagon:after, .service .advisory:hover .hexagon:before {
  display: none; }
